{% extends "index.html" %}
{% block title %}Products{% endblock %}
{% block page %}Products{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

{% for country in countries %}
<div class="box">
<div class="columnleft"><ul style="list-style-type:none">
<ul>{{country.country}} - {{ country.SupportRegion }} ({{country.count}})</ul>
</div>
<div class="columnright">
<dl>
{% for customer in customers if customer.country == country.country %}

 <dt>{{ customer.account_name }} ({{customer.country}})&nbsp|&nbsp Account ID: {{customer.account_id}} CustomerCode/Address Code: {{customer.customer_code}}, {{customer.address_code}} </dt>
 <dd>
CCGroup: {{ customer.CCGroup }}</br>
Note: {{ customer.CustomerNote | safe }}

</dd>


{% endfor %}

</dl></div>
</div>

{% endfor %}

{% endblock %}
