{% extends "index.html" %}
{% block title %}Customers by Region{% endblock %}
{% block page %}Customers by Region{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}


{% for region in regions %}
<div class="box">
<div class="columnleft"><ul style="list-style-type:none">
<ul><a href="{{ url_for('regions', name = region.SupportRegion) }}">{{ region.SupportRegion }} ({{region.count}})</ul>
</div>
<div class="columnright">
<dl>
{% for customer in customers if customer.SupportRegion == region.SupportRegion %}

 <dt>{{ customer.account_name }} ({{customer.country}})&nbsp|&nbsp Account ID: {{customer.account_id}} CustomerCode/Address Code: {{customer.customer_code}}, {{customer.address_code}} </dt>
 <dd>
CCGroup: {{ customer.CCGroup }}</br>
Note: {{ customer.CustomerNote | safe }}

</dd>


{% endfor %}

</dl></div>
</div>

{% endfor %}

{% endblock %}
